<body class="cart-page">

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>A Warm Welcome!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a class="btn btn-primary btn-large">Call to action!</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12 courses-header">
                <h1>AVAILABLE COURSES</h1>
            </div>
            <hr class="header-rule">
        </div>
        <!-- /.row -->

        <!-- Page Features -->
      <div class="row text-center">

        <% @courses.each do |course| %>
        <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
            <img src="<%= course.image %>" class="course-image">
              <div class="caption">
              <h3><%= course.title %></h3>
              <p><%= course.description %></p>
              <a href="#" class="btn btn-default">More Info</a><%= button_to "Add to Cart", carts_path(course_id: course.id), class: "btn btn-primary" %>
              </div>
          </div>
        </div>
        <% end %>
      </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
</body>

</html>
