/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.hero-feature {
  height: 550px;
}

form.button-to {
  float: left;
  margin-left: 0px;
  margin-right: 5px;
  padding: 0;
}

a.btn {
  float: left;
  margin-right: 0px;
  margin-left: 20px;
}

.cart-page {
  text-align: center;
  align-items: center;
}

.category-show-page {
  text-align: center;
  align-items: center;
  background-image: image-url("tetrahedronfield.jpg");
  // background-repeat: no-repeat;
  background-attachment: scroll;
}
.cart-page {
  background-image: image-url("tetrahedronfield.jpg");
  // background-repeat: no-repeat;
  background-attachment: scroll;
}

header.jumbotron {
  background: rgb(33, 37, 43);
  color: white;
}

nav.navbar-invers {
  background: rgb(33, 37, 43);
}

.thumbnail {
  background: rgb(149,149,149);
  border: 2px solid rgb(33, 37, 43);
  padding: 20px 8px 10px 8px;
  margin-top: 30px;
}

img.course-image {
  border: 4px solid rgb(33, 37, 43);
  border-radius: 8px;
}

.courses-header h1 {
  font-weight: normal;
  font-size: 2.6em;
  text-decoration: underline;
  line-height: 2em;
  color: rgb(119,119,119);
  background: rgb(33,37,43);
}

.container-main {
  border: 2px solid black;
}

.search-bar {
  padding-top:  13px;
}
