<body class="category-show-page">
  <div class="container">
    <header class="jumbotron hero-spacer">
      <h2>Search Results</h2>
    </header>

    <div class="row text-center">
      <% @categories.each do |category| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <h4><%= link_to category.title, category_path(category) %></h4>
        <p><%= category.courses.map { |course| link_to course.title, course_path(course) } %></p>
      </div>
      <% end %>
    </div>
  </div>
</body>
